body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width:100%
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: #700000;
    background-color: antiquewhite;
    padding: 40px;
    margin: 0px;
}

.titulo2{
    text-align: center;
    color: #700000;
    background-color: antiquewhite;
    margin: 0px;
}
.principal{
    text-align: center;
    background-color: rgb(255, 200, 200);
    padding: 10px;
    margin: 0px;
}
.beneficios{
    text-align: center;
    background-color: rgb(255, 200, 200);
    padding: 10px;
    margin: 0px;
}