#banner{
    width:100%
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: #700000;
    background-color: antiquewhite;
    padding: 40px;
}

.outrostitulo{
    text-align: center;
    color: #700000;
    background-color: antiquewhite;
}