body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width:100%
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: #52350f;
    background-color: rgb(165, 165, 165);
    padding: 40px;
    margin: 0px;
}

.titulo2{
    text-align: center;
    color: #52350f;
    background-color: rgb(165, 165, 165);
    margin: 0px;
}
.principal{
    text-align: center;
    background-color:rgb(168, 168, 168);
    padding: 100px;
    margin: 0px;
}
.beneficios{
    text-align: center;
    background-color:rgb(168, 168, 168);
    margin: 0px;
}